In [ ]:
%run C:\Users\Omar\Intern_Final_Project\notebooks\Data_Cleaning\Features_Engineering.ipynb

---

In [10]:
print(df_red.shape,df_green.shape,df_yellow.shape)

(405, 43) (405, 43) (405, 43)

In [11]:
import boruta
from sklearn.ensemble import RandomForestRegressor
import numpy

## *B. <u>SelectKBest for feature selection*</u>

### *B.1 <BR> Applying SelectKBest for the df_red data*

In [12]:
x_df_red=df_red.drop(["price"],axis=1)
y_df_red=df_red["price"]
from sklearn.feature_selection import SelectKBest,f_regression,mutual_info_regression  
best_red=SelectKBest(score_func=f_regression,k=42).fit(x_df_red,y_df_red)
features_score_red=pd.concat([pd.DataFrame(x_df_red.columns,columns=["feature"]),pd.DataFrame(best_red.scores_,columns=["score"])],axis=1)
features_score_red.sort_values(by="score",ascending=False)

                                           feature       score
13                         price_shift_4_Rolling_4  148.401205
25              jordan_min_price_shift_4_Rolling_4  123.833679
24              jordan_max_price_shift_4_Rolling_4  106.257678
3                                          vietnam   87.452788
6                                    brazil_season   53.065706
37            brazil_total_price_shift_4_Rolling_4   52.494289
20                 brazil_season_shift_4_Rolling_4   51.134101
26                        demand_shift_4_Rolling_4   51.067679
31     brazil_volume_percetntage_shift_4_Rolling_4   42.670406
9                                     china_season   41.633479
4                                        indonesia   40.523245
10                                vietnam_season_1   39.416055
30              vietnam_season_3_shift_4_Rolling_4   38.394109
1                                           brazil   36.464537
11                                vietnam_season_2   34.397703
7                                 indonesia_season   32.762403
15                        brazil_shift_4_Rolling_4   31.604541
17                       vietnam_shift_4_Rolling_4   29.503730
36      total_volume_total_price_shift_4_Rolling_4   27.565886
29              vietnam_season_2_shift_4_Rolling_4   25.704463
22                  india_season_shift_4_Rolling_4   22.189856
33    vietnam_volume_percetntage_shift_4_Rolling_4   21.424747
2                                            india   19.262785
0                                     total_volume   13.456085
21              indonesia_season_shift_4_Rolling_4   12.363315
14                  total_volume_shift_4_Rolling_4   11.611891
12                                vietnam_season_3    5.472049
27                        supply_shift_4_Rolling_4    5.091752
5                                            china    4.616369
40         indonesia_total_price_shift_4_Rolling_4    2.975819
19                         china_shift_4_Rolling_4    2.818926
34  indonesia_volume_percetntage_shift_4_Rolling_4    2.626462
16                         india_shift_4_Rolling_4    2.310403
32      india_volume_percetntage_shift_4_Rolling_4    1.842302
35      china_volume_percetntage_shift_4_Rolling_4    1.420199
38             india_total_price_shift_4_Rolling_4    0.755930
41             china_total_price_shift_4_Rolling_4    0.609986
23                  china_season_shift_4_Rolling_4    0.608667
18                     indonesia_shift_4_Rolling_4    0.561539
28              vietnam_season_1_shift_4_Rolling_4    0.083319
39           vietnam_total_price_shift_4_Rolling_4    0.083292
8                                     india_season    0.064194

---

### *B.2 <BR> Applying SelectKBest for the df_green data*

In [13]:
x_df_green=df_green.drop(["price"],axis=1)
y_df_green=df_green["price"]

best_green=SelectKBest(score_func=f_regression,k=42).fit(x_df_green,y_df_green)
features_score_green=pd.concat([pd.DataFrame(x_df_green.columns,columns=["feature"]),pd.DataFrame(best_green.scores_,columns=["score"])],axis=1)
features_score_green.sort_values(by="score",ascending=False)

                                           feature      score
13                         price_shift_4_Rolling_4  93.584662
3                                          vietnam  68.506068
25              jordan_min_price_shift_4_Rolling_4  65.543371
24              jordan_max_price_shift_4_Rolling_4  59.453044
20                 brazil_season_shift_4_Rolling_4  51.672392
4                                        indonesia  49.105873
9                                     china_season  45.685851
10                                vietnam_season_1  45.321343
37            brazil_total_price_shift_4_Rolling_4  42.506334
6                                    brazil_season  39.889546
31     brazil_volume_percetntage_shift_4_Rolling_4  37.150819
7                                 indonesia_season  33.499739
15                        brazil_shift_4_Rolling_4  28.798094
30              vietnam_season_3_shift_4_Rolling_4  27.292427
17                       vietnam_shift_4_Rolling_4  26.618840
1                                           brazil  23.704868
29              vietnam_season_2_shift_4_Rolling_4  23.304312
33    vietnam_volume_percetntage_shift_4_Rolling_4  22.964012
11                                vietnam_season_2  21.191472
21              indonesia_season_shift_4_Rolling_4  15.850026
2                                            india  14.320123
22                  india_season_shift_4_Rolling_4  13.456547
36      total_volume_total_price_shift_4_Rolling_4   8.714970
0                                     total_volume   8.650036
27                        supply_shift_4_Rolling_4   7.140408
14                  total_volume_shift_4_Rolling_4   7.137737
5                                            china   6.882920
39           vietnam_total_price_shift_4_Rolling_4   5.008405
26                        demand_shift_4_Rolling_4   4.632158
34  indonesia_volume_percetntage_shift_4_Rolling_4   4.457864
40         indonesia_total_price_shift_4_Rolling_4   4.102982
18                     indonesia_shift_4_Rolling_4   1.990945
23                  china_season_shift_4_Rolling_4   1.651035
16                         india_shift_4_Rolling_4   1.447687
12                                vietnam_season_3   1.143666
32      india_volume_percetntage_shift_4_Rolling_4   1.102947
19                         china_shift_4_Rolling_4   0.799830
38             india_total_price_shift_4_Rolling_4   0.614026
35      china_volume_percetntage_shift_4_Rolling_4   0.284654
28              vietnam_season_1_shift_4_Rolling_4   0.073228
41             china_total_price_shift_4_Rolling_4   0.034384
8                                     india_season   0.004637

---

### *B.3 <BR> Applying SelectKBest for the df_yellow data*

In [14]:
x_df_yellow=df_yellow.drop(["price"],axis=1)
y_df_yellow=df_yellow["price"]

best_yellow=SelectKBest(score_func=f_regression,k=42).fit(x_df_yellow,y_df_yellow)
features_score_yellow=pd.concat([pd.DataFrame(x_df_yellow.columns,columns=["feature"]),pd.DataFrame(best_yellow.scores_,columns=["score"])],axis=1)
features_score_yellow.sort_values(by="score",ascending=False)

                                           feature       score
13                         price_shift_4_Rolling_4  146.309695
25              jordan_min_price_shift_4_Rolling_4  112.973526
24              jordan_max_price_shift_4_Rolling_4  104.295803
3                                          vietnam   94.398500
37            brazil_total_price_shift_4_Rolling_4   79.253435
31     brazil_volume_percetntage_shift_4_Rolling_4   67.271664
6                                    brazil_season   54.596234
20                 brazil_season_shift_4_Rolling_4   52.994442
15                        brazil_shift_4_Rolling_4   52.279472
9                                     china_season   49.796639
4                                        indonesia   44.385043
1                                           brazil   44.364909
10                                vietnam_season_1   44.232468
7                                 indonesia_season   42.057503
17                       vietnam_shift_4_Rolling_4   38.755108
11                                vietnam_season_2   38.371262
36      total_volume_total_price_shift_4_Rolling_4   38.249004
33    vietnam_volume_percetntage_shift_4_Rolling_4   32.945816
22                  india_season_shift_4_Rolling_4   26.239827
21              indonesia_season_shift_4_Rolling_4   21.755862
29              vietnam_season_2_shift_4_Rolling_4   21.352990
30              vietnam_season_3_shift_4_Rolling_4   21.283172
5                                            china   18.273450
27                        supply_shift_4_Rolling_4   16.654918
0                                     total_volume   13.789336
14                  total_volume_shift_4_Rolling_4    9.906519
2                                            india    6.182198
16                         india_shift_4_Rolling_4    5.146923
12                                vietnam_season_3    4.593719
32      india_volume_percetntage_shift_4_Rolling_4    4.080006
34  indonesia_volume_percetntage_shift_4_Rolling_4    3.800953
40         indonesia_total_price_shift_4_Rolling_4    3.584385
26                        demand_shift_4_Rolling_4    1.985734
23                  china_season_shift_4_Rolling_4    1.939868
18                     indonesia_shift_4_Rolling_4    1.486612
38             india_total_price_shift_4_Rolling_4    1.376009
28              vietnam_season_1_shift_4_Rolling_4    0.340892
35      china_volume_percetntage_shift_4_Rolling_4    0.336979
41             china_total_price_shift_4_Rolling_4    0.336022
8                                     india_season    0.170110
39           vietnam_total_price_shift_4_Rolling_4    0.037110
19                         china_shift_4_Rolling_4    0.030015